### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv("purchase_data.csv")

## Player Count

* Display the total number of players

In [3]:
Total_players_df = pd.unique(purchase_data["SN"])

In [4]:
Total_players_total=len(Total_players_df)

In [5]:
print(Total_players_total)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
Unique_items_df=pd.unique(purchase_data["Item Name"])
Unique_items_total=len(Unique_items_df)

Average_price=purchase_data["Price"].mean()
Total_purchases=sum(purchase_data["Price"])


Purchasing_analysis_df=pd.DataFrame(data=(Unique_items_total, Average_price, Total_purchases))
Purchasing_analysis_df.index=['Unique_items_total','Average_price','Total_purchases']
Purchasing_analysis_df.columns=["Value"]


print(Purchasing_analysis_df)

                          Value
Unique_items_total   179.000000
Average_price          3.050987
Total_purchases     2379.770000

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [173]:
total_count=pd.DataFrame(purchase_data[["SN","Gender"]].drop_duplicates()["Gender"].value_counts())


total_count["Percentage Count"]=pd.DataFrame(purchase_data[["SN","Gender"]].drop_duplicates()["Gender"].value_counts(normalize=1))
total_count

                       Gender  Percentage Count
Male                      484          0.840278
Female                     81          0.140625
Other / Non-Disclosed      11          0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
grouped_df=purchase_data.groupby('Gender')

results_df=pd.merge(grouped_df.count()["Price"],grouped_df.mean()["Price"], on="Gender", how="left")
results_df=pd.merge(results_df,grouped_df.sum()["Price"], on="Gender", how="left")

results_df.columns=["Purchase Count","Average Purchase Price","Total Purchase Value"]
results_df

,Gender,purchase count,avg. purchase price,avg. purchase total
0,Male,652,3.017853,4.065372
1,Female,113,3.203009,4.468395
2,Other / Non-Disclosed,15,3.346000,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [239]:


#purchase_data["Age Bins"]=
age_bins=[0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
age_bins_labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

age_cut=pd.cut(purchase_data["Age"], age_bins, labels=age_bins_labels, include_lowest="TRUE")
purchase_data["Age Bins"]=age_cut
purchase_data.head()


age_bins_count=pd.DataFrame(purchase_data[["SN","Age Bins"]].drop_duplicates()["Age Bins"].value_counts(sort=False))
age_bins_count["Percentage count (as Decimal)"]=pd.DataFrame(purchase_data[["SN","Age Bins"]].drop_duplicates()["Age Bins"].value_counts(normalize=1, sort=False))
age_bins_count

       Age Bins  Percentage count (as Decimal)
<10          17                       0.029514
10-14        22                       0.038194
15-19       107                       0.185764
20-24       258                       0.447917
25-29        77                       0.133681
30-34        52                       0.090278
35-39        31                       0.053819
40+          12                       0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [241]:
grouped_df=purchase_data.groupby('Age Bins')

results_df=pd.merge(grouped_df.count()["Price"],grouped_df.mean()["Price"], on="Age Bins", how="left")
results_df=pd.merge(results_df,grouped_df.sum()["Price"], on="Age Bins", how="left")

results_df.columns=["Purchase Count","Average Purchase Price","Total Purchase Value"]
results_df

          Purchase Count  Average Purchase Price  Total Purchase Value
Age Bins
<10                   23                3.353478                 77.13
10-14                 28                2.956429                 82.78
15-19                136                3.035956                412.89
20-24                365                3.052219               1114.06
25-29                101                2.900990                293.00
30-34                 73                2.931507                214.00
35-39                 41                3.601707                147.67
40+                   13                2.941538                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [252]:
grouped_df=purchase_data.groupby('SN')

results_df=pd.merge(grouped_df.count()["Price"],grouped_df.mean()["Price"], on="SN", how="left")
results_df=pd.merge(results_df,grouped_df.sum()["Price"], on="SN", how="left")

results_df.columns=["Purchase Count","Average Purchase Price","Total Purchase Value"]
results_df.sort_values('Total Purchase Value', ascending=False).head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [256]:
grouped_df=purchase_data.groupby(["Item ID","Item Name"])

results_df=pd.merge(grouped_df.count()["Price"],grouped_df.mean()["Price"], on="Item Name", how="left")
results_df=pd.merge(results_df,grouped_df.sum()["Price"], on="Item Name", how="left")

results_df.columns=["Purchase Count","Average Purchase Price","Total Purchase Value"]
results_df.sort_values('Purchase Count', ascending=False).head(5)

,Purchase Count,Average Purchase Price,Total Purchase Value
Item Name,,,
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Fiery Glass Crusader,9,4.580000,41.22
Persuasion,9,3.221111,28.99
"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [258]:
results_df.sort_values('Total Purchase Value', ascending=False).head(5)

,Purchase Count,Average Purchase Price,Total Purchase Value
Item Name,,,
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Nirvana,9,4.900000,44.10
Fiery Glass Crusader,9,4.580000,41.22
Singed Scalpel,8,4.350000,34.80